* {
    margin: 0;
    padding: 0;
}

body {
  background: #f9f9f9;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.wrapper {
    background-color: #FFFFFF;
    width: 430px;
    height: 400px;
    border-radius: 6px;
    box-shadow: 0px 2px 10px 0px #0000001A;
}

.wrapper .content h2 {
    font: 600 16px Roboto;
    color: #828282;
    padding-top: 28px;
    padding-left: 45px;
}

.wrapper .content h1 {
    font: 500 40px Roboto;
    letter-spacing: -3.75%;
    color: #0B1354;
    padding-top: 4px;
    padding-left: 45px;
}

.wrapper .content .label {
    font: 400 14px Roboto;
    color: #4F4F4F;
    padding-top: 4px;
    padding-left: 45px;
    padding-bottom: 27px;
}

.wrapper .content img {
    padding-left: 45px;
}

.wrapper .content .line {
    width: 430px;
    border: 2px solid #ECECEC
}

.wrapper .content .chart-row {
    display: flex;
    align-items: flex-start;
    gap: 20px;
    padding-top: 20px;
}

.wrapper .content .chart-row .legend {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-left: auto;
    padding-right: 61px;
}

.wrapper .legend .container,
.wrapper .legend .container-2,
.wrapper .legend .container-3 {
    display: flex;
    align-items: center;
    gap: 9px;
}

.wrapper .container .rectangle {
    width: 21px;
    height: 8px;
    background-color: #165BAA;
}

.wrapper .container-2 .rectangle-2 {
    width: 21px;
    height: 8px;
    background-color: #F765A3;
}

.wrapper .container-3 .rectangle-3 {
    width: 21px;
    height: 8px;
    background-color: #16BFD6;
}

.wrapper .legend .item,
.wrapper .legend .item-2,
.wrapper .legend .item-3 {
    font: 400 12px Inter;
    color: #4F4F4F;
}


@font-face {
    font-family: 'Roboto';
    src: url('fonts/Roboto-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Inter';
    src: url('fonts/Inter18pt-Regular.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}